<%= form_for Semester.new do |f| %>
    <p>Add New Semester:</p>
    <!--%= f.text_field :name, class: 'form-control' %>--
    <%= f.hidden_field :year_id, value: year.id %>
    <%= f.submit 'Add Semester', class: 'btn btn-primary' %>
<% end %>