<%= form_for (semester.course_instances.new), :html => {class:'row'} do |f| %>

      <div class="col-xs-7">
        <%= f.collection_select( :course_id, Course.all, :id, :name, {}, {class:'form-control'} )%>
      </div>
      <div class="col-xs-5 text-right">
        <%= f.submit 'Add Course', class: 'btn btn-default'%>
      </div>

    <%= f.hidden_field :semester_id, value: semester.id %>
<% end %>
