<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>

                    <h3>
				<b>CS 1050 - Computer Science 1</b>
			</h3>
			
			<p>
				Credits: 4 (4 + 0)<br>
			</p>
			<p>
				Prerequisites(s): Permission of department
			</p>
			
			<p>
				Description: This is the first course in the computer science cor sequence. Students will learn a modern programming language and the basic skills needed to analyze problems and construct programs for their solutions. The emphasis of the course is on the techniques of algorithm development, correctness, and programming style. Students are also introduced to the fundamentals of software engineering and the software-development life cycle.
			</p>
			
</body>
</html>
