// Place all the styles related to the Years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  display: inline-block;
  padding: 10px 10px 0px 10px;
}