<%= form_for Year.new do |f| %>
    <p>Add New Year:</p>
    <%= f.select :year, (1965)..(Time.zone.now.year + 50), :selected => Time.zone.now.year, class: 'form-control' %>
    <%= f.hidden_field :course_plan_id, value: course_plan.id %>
    <%= f.submit "Add Year", class: "btn btn-primary" %>
<% end %>