<%= div_for year do %>
    <h2><%= year.year %></h2>
    <button type="button" class="btn btn-default btn-sm pull-right">
      <%= link_to 'delete year', year, method: :delete, remote: true %>
    </button>
<% end %>